<?xml version="1.0" encoding="UTF-8"?>
<config>
    
    <params>
	 <param name="APP_ID" required="1" showName="华为appid" desc="华为" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="PAY_ID" required="1" showName="华为payid" desc="华为" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="PayPrivateKey" required="1" showName="支付密钥" desc="浮标密钥" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="PayPublicKey" required="1" showName="支付公钥" desc="浮标密钥" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="GamePublicKey" required="1" showName="游戏公钥" desc="公钥" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="GamePrivateKey" required="1" showName="游戏私钥" desc="公钥" bWriteInManifest="0" bWriteInClient="1" />
     <param name="com.huawei.hms.client.appid" required="1" showName="华为浮标密钥" desc="浮标密钥" bWriteInManifest="0" bWriteInClient="1" />
     <param name="com.huawei.hms.client.cpid" required="1" showName="华为公钥" desc="公钥" bWriteInManifest="0" bWriteInClient="1" />
	 <param name="SDKData" required="1" showName="SDKData" desc="渠道透传参数" bWriteInManifest="0" bWriteInClient="1" />
	 
    </params>
    
    <operations>
        <operation step="1" type="mergeManifest" from="SDKManifest.xml" to="AndroidManifest.xml" />
        <operation step="2" type="copyRes" from="assets" to="assets" />
        <operation step="3" type="copyRes" from="libs" to="lib" />
        <operation step="4" type="copyRes" from="res" to="res" />
        <operation step="5" type="copyRes" from="root" to="" />
    </operations>
    
    <plugins>
        <plugin name="com.u8.sdk.SDKUser" type="1" desc="用户登录接口"/>
        <plugin name="com.u8.sdk.SDKPay" type="2" desc="用户支付接口"/>
    </plugins>
    
    <version>
        <name>华为</name>
        <versionCode>29</versionCode>
        <versionName>2.9.0</versionName>
    </version>    
    
</config>